<!DOCTYPE html>
<html>
<head>
	
	<!-- Header icon -->
	<link rel="icon" href="/images/KronosNewIcon.png">
	
	<title>Kronos Logistics</title>
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Bootstrap 4  -->

	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/main.css">
	

</head>

<body>
	
	<!-- NAV BAR -->
	<nav id="mainNavbar" class="navbar navbar-light navbar-expand-lg">

		<!-- Brand -->
		<a href="/" class="navbar-brand font-weight-bold">
			<img src="/images/KronosNewIcon.png" width="60" height="60" >Kronos Logistics
      	</a>  

        <!-- Collapse button -->
      	
      	<button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav links -->

        <div class="collapse navbar-collapse" id="navLinks">
        	<ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="/home" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/services" class="nav-link">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a href="/valueAddedSolutions" class="nav-link">VALUE ADDED SOLUTIONS</a>
                </li>
                <li class="nav-item">
                    <a href="/tracking" class="nav-link">TRACKING</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">CONTACT</a>
                </li>
            </ul> 
          </div>
     </nav>


	
	
