<%- include("partials/header") %>

<section class="container">
	<div id="content">
		<h1 class="text-center display-4 my-4">CONTACT</h1>
		<div class="row mb-5">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Kronos Logistics India Private Limited</h5>
						<h6 class="card-subtitle mb-2">Corporate office</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div>324-E KEERTHI BUILDING, Poonamallee High Road, Kilpauk, Chennai - 600 010.</div>
							<div><strong>Telephone:</strong> +914443438755</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> info@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mr. Roshith.MS</h5>
						<h6 class="card-subtitle mb-2">General Manager - Bengaluru</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +918041200021</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> roshithms@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mrs. Lavanya.B</h5>
						<h6 class="card-subtitle mb-2">General Manager - Chennai</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914443438760</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> lavanya@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div> -->
				<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mr. Sampath Kumar</h5>
						<h6 class="card-subtitle mb-2">Branch Manager</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914443438755</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> sampath.kumar@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mr. Saravanan VR</h5>
						<h6 class="card-subtitle mb-2">Credit control manager</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914443438755</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> sharan@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>		

			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mrs. Supraja</h5>
						<h6 class="card-subtitle mb-2">Air Import/Export</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914443438765</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> supraja@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mrs. Praveena</h5>
						<h6 class="card-subtitle mb-2">Accounts and Finance</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914443438770</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> praveena@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mr. Sekar.P</h5>
						<h6 class="card-subtitle mb-2">Customs Clearance</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914445023309</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> sekar.p@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Mr. VijayAnand.M</h5>
						<h6 class="card-subtitle mb-2">Managing Director</h6>
					</div>
					<div class="card-body">
						<div class="card-text pl-0">
							<div><strong>Telephone:</strong> +914443438755</div>
							<div><strong>Fax:</strong> +914443438777</div>
							<div><strong>E-mail:</strong> vijay.anand@kronoslogistics.in</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") %>