<%- include("partials/header") %>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Kronos Logistics India Private Limited</h1>
		<h3 class="font-weight-lighter mt-3">We deliver on time.... Everytime.</h3>
    </div>
</div>

<section class="container">
	<div id="content">
	<h1 class="text-center display-4">ABOUT</h1>
	<p>Logistics is not only about moving cargo from point A to point B. It requires lot of knowledge, skills, expertise as it is a management of effective supply chain. By having an efficient supply chain and proper logistical procedures, a company can cut costs and increase efficiency and most importantly it can stay competitive in it's line of business. The three basic core elements of logistics are Planning, Implementation and Co-ordination and all of them can be well managed only when we have Effective Communication. It also requires lot of Common Sense.</p>
	<img class="d-none d-md-block" id="efmImage" src="images/home/EFMchart.png">
	
	<p>The term logistics Management is that “Part of Supply Chain Management that plans, implements and controls the efficient, effective, forward and reverse flow and storage of goods, services and related information between the point of origin and the point of consumption in order to meet customer’s requirements. Therefore, in total, logistics is an art which requires lot of commitment and dedication. Kronos Logistics India Private Ltd understands this very well and is committed in delivering the best solutions for an efficient supply chain. Kronos logistics India Private Ltd would like to position itself as a company “to be known and respected as the best solution provider with excellent customer service”. We have the expertise and knowledge in offering Door to Door Solutions as we always believe that we should make our customers to focus on their core competency area and leave the logistics challenges to us.</p> </div>
	
	<div class="row mx-3 mb-5" id="missionGoal">
		<div class="col-md-6 mb-4">
			<img class="w-25 p-2" src="images/home/mission.png">
			<h3 class="text-center p-3">Mission Statement</h3>
			<em>“We strive for excellence in our value added solutions and customer service by staying completely committed to quality in our people and services and professionally disseminate deliverables to meet our customer’s needs”.</em>
		</div>
      	<div class="col-md-6 mb-4">
			<img class="w-25" src="images/home/goal.png">
			<h3 class="text-center p-3">Our goal</h3>
			<em>“To be known and respected as the best solution provider with excellent customer service”</em>
			<p><strong>Kronos Logistics</strong> - Your Trusted and Reliable Partner in Supply Chain</p>
		</div>
	</div>
</section>

<%- include("partials/footer") %>