<!DOCTYPE html>
<html>
	<head>
	
	<!-- Header icon -->
	<link rel="icon" href="/images/kronosIcon.png">
	
	<title>Kronos Logistics</title>
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Bootstrap 4  -->

	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/landing.css">
	

  </head>

  <body>
	  <img id="iata" src="images/landing/IATA.png">
	  <img id="ten" src="images/landing/10.png">
	  <div class="container">
		  
	  
	  <img id="icon" src="images/landing/KronosNewIconWhite.png" >
	  <div id="landing-header">
		  
 		<h1>Kronos Logistics India Private Limited</h1>
		<a href="/home" class="btn btn-lg btn-light mt-4">Visit us</a>
	  </div></div>
	  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
 </body>
</html>
	
