<%- include("partials/header") %>

<section class="container">
	<div id="services-content">
		<h1 class="text-center display-4 my-4">OUR SERVICES</h1>
		<div class="row services-grid mx-2">
			<div class="col-12">
				<h3 class="text-center font-weight-normal">AIR FREIGHT</h3>
				<hr>
				<p>IATA certified forwarder serving 378 locations across the world for both Exports & Imports. Excellent relationship with all the major carriers . Expertise in door to door movements.</p>
			</div>
			<div class="col-12">
				<h3 class="text-center font-weight-normal">SEA FREIGHT</h3>
				<hr>
				<p>LCL & FCL service across the world. Regular consolidation service for both Exports & Imports. Multi tier service options with maximum flexibility.
				</p>
			</div>
			<div class="col-12">
				<h3 class="text-center font-weight-normal">DOMESTIC TRUCKING</h3>
				<hr>
				<p>Vast network & capability to cover PAN India. Time definite deliveries on both FTL ( Full truck load) and LTL (Less than a truck load).
				</p>
			</div>
			<div class="col-12">
				<h3 class="text-center font-weight-normal">CUSTOMS BROKERAGE</h3>
				<hr>
				<p>Expert team with a cumulative knowledge of over 100 years. Efficient planning ,Error free filing, Quicker release, and Zero storage charges .
				</p>
			</div>
			<div class="col-12">
				<h3 class="text-center font-weight-normal">PROJECT CARGO SERVICES</h3>
				<hr>
				<p>Expert team with a vast knowledge in Project shipments handling capability. Expertise in handling break-bulk , heavy lift materials, CE Certification, Special equipment trucking.
				</p>
			</div>
			<div class="col-12">
				<h3 class="text-center font-weight-normal">LOGISTICS CONSULTANCY SERVICES</h3>
				<hr>
				<p>Compliance Support, Regulatory requirements, Procurement of Special licenses.</p>
			</div>
		</div>

	</div>
</section>

<%- include("partials/footer") %>