<%- include("partials/header") %>

<section class="container">
	<div id="tracking-content">
		<h1 class="text-center display-4 my-4">TRACKING</h1>
		<div class="row mb-5">
			<div class="col-md-6 p-5">
				<h1 class="font-weight-light">Air Tracking</h1>
				<div class="d-flex justify-content-center">
					<a class="btn btn-lg" href="https://www.track-trace.com/aircargo">
						<ion-icon name="airplane-outline" class="p-3"></ion-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 p-5">
				<h1  class="font-weight-light">Sea Tracking</h1>
				<div class="d-flex justify-content-center">
				<a class="btn btn-lg" href="https://www.track-trace.com/container">
					<ion-icon name="boat-outline" class="p-3"></ion-icon>
				</a>
				</div>
			</div>
			<div class="col-md-6 p-5">
				<h1 class="font-weight-light">International courier</h1>
				<div class="d-flex justify-content-center">
				<a class="btn btn-lg" href="https://www.track-trace.com/">
					<ion-icon name="earth-outline" class="p-3"></ion-icon>
				</a>
				</div>
			</div>
			<div class="col-md-6 p-5">
				<h1 class="font-weight-light">Concor India</h1>
				<div class="d-flex justify-content-center">
				<a class="btn btn-lg" href="https://concorindia.co.in/">
					<ion-icon name="cube-outline" class="p-3"></ion-icon>
				</a>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") %>