<%- include("partials/header") %>

<section class="container">
	<div id="content">
		<h1 class="text-center display-4 my-4">VALUE ADDED SOLUTIONS</h1>
		<div class="row mb-5">
			
		<!-- Accordion Using List Group -->
			<div class="col-md-12 mb-3">
				<div id="accordion">
					<div class="list-group">
						<a href="#visibility" data-parent="#accordion" data-toggle="collapse" class="list-group-item list-group-item-action">
							<h4>Visibility</h4>
						</a>
						<div class="collapse" id="visibility">
							<ul class="list-group-item-text">
								<li>Global transaction visibility triggered by event codes right from pick-up to final delivery.</li>
								<li>Communication via internet on shipment status events and references.</li>
								<li>Customized Automated DSR (Daily Status Report) on Shipment Status.</li>
								<li>Advance Notification on Shipment Status via Customized Pre-Alerts.</li>
								<li>Real Time Information.</li>
							</ul>
						</div>
					</div>
					<div class="list-group">
						<a href="#our-care" data-parent="#accordion" data-toggle="collapse" class="list-group-item list-group-item-action">
							<h4>Our care</h4>
						</a>
						<div class="collapse" id="our-care">
							<ul class="list-group-item-text">
								<li>Single Point of Accountability</li>
								<li>Integrate Product and Service</li>
								<li>Develop and maintain SOP</li>
								<li>Drive Formal Service Reviews</li>
								<li>Identify Cost-cut opportunities and value add Solutions</li>
								<li>Innovative and Proactive focus on continued Improvement</li>
							</ul>
						</div>
					</div>
					<div class="list-group">
						<a href="#shipment-control" data-parent="#accordion" data-toggle="collapse" class="list-group-item list-group-item-action">
							<h4>Shipment Control</h4>
						</a>
						<div class="collapse" id="shipment-control">
							<ul class="list-group-item-text">
								<li>A centralized system for documenting customer specific information and procedures</li>
								<li>Is the link between service delivery, standards and quality management</li>
								<li>Tells customs and other authorities that we understand our customers needs</li>
								<li>Escalation procedures</li>
								<li>Customers comfort zone</li>
							</ul>
						</div>
					</div>
					<div class="list-group">
						<a href="#compliance-support" data-parent="#accordion" data-toggle="collapse" class="list-group-item list-group-item-action">
							<h4>Compliance support</h4>
						</a>
						<div class="collapse" id="compliance-support">
							<ul class="list-group-item-text">
								<li>Implementing best practices for Customs record keeping and internal document review.</li>
								<li>Record Retention capability for 5 years through Electronic Document Storage System.</li>
								<li>Easy Retrieval process.</li>
							</ul>
						</div>
					</div>
					<div class="list-group">
						<a href="#value-offerings" data-parent="#accordion" data-toggle="collapse" class="list-group-item list-group-item-action">
							<h4>Our value offerings</h4>
						</a>
						<div class="collapse" id="value-offerings">
							<ul class="list-group-item-text">
								<li>One Logistics Service Provider, for end-to-end solutions</li>
								<li>Real Time shipment tracking via our website for all activities Freight, Customs Clearance, Trucking etc.</li>
								<li>Better control on domestic trucking with high visibility</li>
								<li>Customs Brokerage – Clearance capability of 48 hrs for Air Shipment and 72 hrs for Ocean Shipments</li>
								<li>Electronic document storage system. Record retention capability for 5 years which helps in Customs Audits</li>
								<li>Insurance coverage - Integrated service</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<%- include("partials/footer") %>